* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  padding: 20px;
}

.container {
  background: white;
  padding: 60px 80px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}
.container img{
    width: 90%;
    margin: auto;
}
h1 {
  margin-bottom: 40px;
  font-size: 28px;
  color: #333;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 12px 35px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}

/* Yes button */
.btn:first-child {
  background: #ff4d6d;
  color: white;
}

.btn:first-child:hover {
  background: #ff1e4d;
  transform: scale(1.1);
}

/* No button */
.no {
  position: fixed;
  background: #333;
  color: white;
}
